<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!--botones-->
    <ion-tab-button tab="account"> <!-- tab="account" ruta donde va a navegar al hacer click sobre este boton estas se definen en el tabs-routing-module.ts -->
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact"> <!-- tab="account" ruta donde va a navegar al hacer click sobre este boton  estas se definen en el tabs-routing-module.ts-->
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting"> <!-- tab="account" ruta donde va a navegar al hacer click sobre este boton  estas se definen en el tabs-routing-module.ts-->
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
