
<app-header titulo="action sheet"></app-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button text="Regresar" defaultHref="inicio"></ion-back-button> 
    </ion-buttons>
    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <h2>Action Sheet Page</h2> -->

  <ion-button expand="full" 
              color="primary"
              (click)="presentActionSheet()"> <!-- expand="full" para ocupar el ancho de la pagina -->
    Mostrar Action Sheet
  </ion-button>
</ion-content>
