<app-header titulo="Card"></app-header>

<ion-content> 
  <ion-card mode="ios" color="primary"><!-- mode="ios" : para que se vea como en iphone -->
    <ion-card-header>
      <ion-card-subtitle>Card iPhone Style</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin">
      </ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero eos facilis laborum voluptate consequuntur quos ad, tempore id repellat exercitationem dolor obcaecati blanditiis asperiores maiores, dolores, at consectetur dolore?
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eveniet voluptatibus animi commodi. Natus nostrum quibusdam quae magnam dolores praesentium, alias earum ratione incidunt perspiciatis quos illum deserunt totam! Eum?
    </ion-card-content>
  </ion-card>
</ion-content>
